* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 20px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.878) 0px 30px 30px -20px;
}


.sidebar-buttons .form-group .btn-primary {
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    border: none;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.878) 0px 20px 10px -15px;
    transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.878) 0px 23px 10px -20px;
}

.btn-primary:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.878) 0px 15px 10px -10px;
}

body {
    background-image: url('../imagem/imagem-real.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}
aside {
    max-width: 35%;
    min-width: 350px;
    background-color: #2980b9;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.logo {
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}
.user-info {
    
    width: 90%;
    margin-bottom: auto;
}
.user-info p {
    margin-bottom: 10px;
    font-weight: bold;
}
.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-buttons button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.alterar-dados {
    background-color: white;
    color: #2980b9;
}
.sair {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
main {
    width: 65%;
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}
.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.book-item {
    aspect-ratio: 1;
    background-color: white;
    border: 2px solid #2980b9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}
.img {
    width:auto;
    height:60px;
    float: left;
}
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}
input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
}
.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Tamanho do ícone */
    color: #555; /* Cor do ícone */
}
.search-button:hover {
    color: #000; /* Cor ao passar o mouse */
}


